---
import ImageLink from '../atoms/ImageLink.astro'
import LiquidBox from './LiquidBox.astro'
import faceImage from '../../images/face.jpg'
import logoNote from '../../images/logo_note.png'
import logoYoutrust from '../../images/logo_youtrust.png'
import logoLinkedin from '../../images/logo_linkedin.png'

// export interface Props {
//   post: {
//     Title: string
//     Icon?: {
//       Type: 'emoji' | 'external'
//       Emoji?: string
//       Url?: string
//     }
//   }
//   enableLink: boolean
//   className?: string
// }

// const { post, enableLink = true, className } = Astro.props

// let title = post.Title
---

<LiquidBox
  class="writing-horizontal w-60 ml-8 h-fit flex flex-col gap-8 py-4 px-8 mx-4 mt-4"
>
  <LiquidBox>
    <ImageLink imgSrc={faceImage} alt="顔のイラスト" />
  </LiquidBox>

  <div class="text-xs">
    <div>永井大介(Daisuke Nagai)UX、UIのデザインをしています</div>
    <div>属性：Notion,Figma,氷河期</div>
  </div>

  <div class="media">
    <div class="grid grid-cols-3 gap-2">
      <LiquidBox>
        <ImageLink
          url="https://note.com/nagai_daisuke"
          imgSrc={logoNote}
          alt="noteのメディアロゴ"
        />
      </LiquidBox>
      <LiquidBox>
        <ImageLink
          url="https://youtrust.jp/users/daisuke_nagai"
          imgSrc={logoYoutrust}
          alt="youtrustのメディアロゴ"
        />
      </LiquidBox>
      <LiquidBox class="flex items-center justify-center">
        <ImageLink
          url="https://www.linkedin.com/in/daisuke-nagai/"
          imgSrc={logoLinkedin}
          alt="LinkedInのメディアロゴ"
        />
      </LiquidBox>
    </div>
  </div>
</LiquidBox>
